{% extends "base.html" %}
{% comment %} TODO: 5. base.html 템플릿을 만들어 모든 페이지에서 상속받아 보여주세요 {% endcomment %}
{% block content %}
  <div class="container">
      {% comment %} TODO: 4. /index 페이지에는 로그인 한 유저 이름을 출력해야 합니다. ex) hello, 홍길동 {% endcomment %}
      {% if is_ok or user.is_authenticated %}
      Hello, {{ user.username }}
      {% else %}
      <p>Don't register this course... hard to die...</p><p>However lessons are excellent!!!</p>
      <br>
      <a class="btn btn-link" href="{% url 'register' %}" role="button">Welcome to Hell</a>
      <a class="btn btn-link" href="{% url 'login' %}" role="button">난 이미 늦었어...</a>
      {% endif %}    
  </div>
{% endblock %}